<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>EDIT YOUR GOOSE!!!</h1>
        <form class="" action="/animals/<%= fetched_animals._id  %>" method="post">

            New Name:<input type="text" name="newName" value="" placeholder="Please enter in the new name of your mongoose">
            New Weight:<input type="text" name="newWeight" value="" placeholder="Please enter in the new weight of your mongoose">

            <input type="submit" name="" value="Update Mongoose">

        </form>
    </body>
</html>
