<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>CREATE YOUR GOOSE!!!</h1>
        <form class="" action="/animals" method="post">

            Name:<input type="text" name="name" value="" placeholder="Please enter in the your name of your mongoose">
            Weight:<input type="text" name="weight" value="" placeholder="Please enter in the weight of your mongoose">

            <input type="submit" name="" value="Submit Mongoose">

        </form>
    </body>
</html>
