<div class="">
    <div ng-bind=""></div>
    <div ng-bind=""></div>
    <form>
        <div class="form-group">
            <label for="">Your Answer</label>
            <textarea  rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="">Supporting Details for your answer(optional)</label>
            <textarea  rows="4"></textarea>
        </div>
        <div class="form-group">
            <button type="button" name="button">Cancel</button>
            <button type="button" name="button">Submit</button>
        </div>
    </form>
</div>
