<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myStyle.css') }}">
    </head>
    <body>
        <p>Sample text</p>
        <form class="form" action="index.html" method="post">
            Name:<input class="name" type="text" name="name" value="Enter name">
            Email:<input class="email" type="text" name="email" value="Enter email">
            <textarea class="textbox" name="name" rows="5" cols="10">Tell us about yourself</textarea>

            <input type="button" name="submitbutton" value="Submit">
        </form>
    </body>
</html>
