<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <title>CAR FORM</title>
    </head>
    <body>
        <form class="" action="index.html" method="post">
            <h1>ADD SOME CAR STUFF!!!</h1>
            <h3>COLOR!!!</h3>
            <input type="text" name="" value="" placeholder="GO ON WHAT ARE YOU WAITING FOR!?">
            <h3>DOOR COUNT!!!</h3>
            <input type="text" name="" value="" placeholder="YOU LOVE DOORS!!!">
            <h3>MAKE!!!</h3>
            <input type="text" name="" value="" placeholder="WHAT MAKE IS IT!!!?">
            <h3>HURRY AND SUBMIT BEFORE ITS TOO LATE!!!!</h3>
            <input type="submit" name="" value="DO IT NOW!!!">
        </form>
    </body>
</html>
